<div class="modal fade" id="changeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">자전거 신고</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="bicycleIdQuery" class="col-form-label">BicycleIDForChange</label>
            <input type="text" class="form-control" id="bicycleIdForChange">
          </div>
          <div class="mb-3">
            <label for="companyName" class="col-form-label">신고 모드</label>
            <select class="form-select" aria-label="company-select" id="reportMode">
              <option selected value="Report">Report Abandoned Bicycle</option>
              <option value="Resolve">Resolve Abandoned Bicycle</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label" disabled>From(추후 구현 예정)</label>
            <input type="text" class="form-control" id="message-text" disabled></input>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">To(추후 구현 예정)</label>
            <input type="text" class="form-control" id="message-text" disabled></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="reportBtn" type="button" class="btn btn-primary">상태 변경 신고</button>
      </div>
    </div>
  </div>
</div>