<div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="loginId" class="col-form-label">ID</label>
            <input type="text" class="form-control" id="loginId">
          </div>
          <div class="mb-3">
            <label for="loginPw" class="col-form-label">PW</label>
            <input type="password" class="form-control" id="loginPw"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>