<div class="modal fade" id="queryModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">자전거 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="bicycleIdQuery" class="col-form-label">BicycleID</label>
            <input type="text" class="form-control" id="bicycleIdQuery">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button id="queryBtn" type="button" class="btn btn-primary ">자전거 조회</button>
        <button id="queryHistoryBtn" type="button" class="btn btn-primary ">자전거 이력 조회</button>
        <br>
        <button id="queryAllBtn" type="button" class="btn btn-primary ">모든 자전거 조회</button>
        <button id="queryAbandonedBtn" type="button" class="btn btn-primary ">방치된 자전거 조회</button>
        <button id="closeQueryModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>