<div class="modal fade" id="signupModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">회원가입</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="signupId" class="col-form-label">ID</label>
            <input type="text" class="form-control" id="signupId">
          </div>
          <div class="mb-3">
            <label for="signupPw" class="col-form-label">PW</label>
            <input type="text" class="form-control" id="signupPw">
          </div>
          <div class="mb-3">
            <label for="signupName" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="signupName">
          </div>
          <div class="mb-3">
            <label for="signupRole" class="col-form-label">Role</label>
            <select class="form-select" aria-label="company-select" id="signupRole">
              <option selected>사용자 역할을 선택하세요 - 기본값 BicycleOwner</option>
              <option value="BicycleOwner">BicycleOwner</option>
              <option value="GarbageCollector">GarbageCollector</option>
              <option value="GarbageDisposer">GarbageDisposer</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="signupBtn" type="button" class="btn btn-primary">회원가입</button>
      </div>
    </div>
  </div>
</div>