<div class="container debug d-flex justify-content-end">
  <h3>디버깅용 버튼 → </h3>
  <button class="btn btn-danger mx-2 d-none">더미 유저 생성</button>
  <button class="btn btn-danger mx-2 d-none">더미 자전거 데이터 입력</button>
  <button id="changeLoginStatus" class="btn btn-danger mx-2">로그인 상태 변경</button>
  <button class="btn btn-danger mx-2 d-none">완전 초기상태로 리셋(네트워크 까지)</button>
</div