<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand mx-md-3" href="#">
      <h2>Chain Chain ๐ฒ</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto py-2">
        <li class="nav-item px-md-1 mx-md-1 px-lg-2 mx-lg-2">
          <a type="button btn-block" class="nav-link btn btn-outline" data-bs-toggle="modal" data-bs-target="#registerModal">
            ์์๊ฑฐ ๋ฑ๋ก
          </a>
        </li>
        <li class="nav-item px-md-1 mx-md-1 px-lg-2 mx-lg-2">
          <a type="button btn-block" class="nav-link btn btn-outline" data-bs-toggle="modal" data-bs-target="#queryModal">
            ์์๊ฑฐ ์กฐํ
          </a>
        </li>
        <li id="loginMenu" class="nav-item px-md-1 mx-md-1 px-lg-2 mx-lg-2">
          <a type="button btn-block" class="nav-link btn btn-outline" data-bs-toggle="modal" data-bs-target="#loginModal">
            ๋ก๊ทธ์ธ
          </a>
        </li>
        <li id="signupMenu" class="nav-item px-md-1 mx-md-1 px-lg-2 mx-lg-2">
          <a type="button btn-block" class="nav-link btn btn-outline" data-bs-toggle="modal" data-bs-target="#signupModal">
            ํ์๊ฐ์
          </a>
        </li>
        <li id="logoutMenu" class="nav-item px-md-1 mx-md-1 px-lg-2 mx-lg-2">
          <a type="button btn-block" class="nav-link btn btn-outline" data-bs-toggle="modal" data-bs-target="">
            ๋ก๊ทธ์์
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>